# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
ENV/
env/
*.env
*.venv

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc
*.pyo
*.pyd

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git/
